.cardslide{
  width: 100px;

  background-color: lime;
margin-left: 15px;
}

.cardslide h1{
  text-align: center;
}
.cardslide img{
  width: 13rem;
  height: 12rem;
 margin: 29px;
}

.ftco-animate{
  margin-top: 5%;
}

.one {
  border: 1.9px solid #adb5bd;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 6%;
  padding-bottom: 5%;
  border-radius: 20px;
}
.one h2{
  margin-left: 6%;
  margin-top: 3%;
}
.classSub img {
  width: 50%;
}







.ml10 {
  position: relative;
  font-weight: 900;
  font-size: 4em;
}

.ml10 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml10 .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}



.FreeVideo video {
  width: 110%;
  padding: 5%;
  margin-top: 16%;
  margin-left: 28%;
}

.cl-video {
  
  margin: 10px;
  color: whitesmoke;
}

#speech img{
  width:460px;
}

.features .h2::after {
  content: '';
  background: darkred;
  display: block;
  height: 3px;
  width: 425px;
  margin: 10px auto;
}

.card1{
  background-color : rgba(255,255,255,.1);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  width: 12rem;height: 8rem;
}
body{
  font-family: Lato;
}
table {
  border: 1px solid gray;
  border-collapse: collapse;
  width: 100%;
  height: 50px;
 background-color: black;
 color: white;
}
td{
  border: 1px solid gray;
  border-collapse: collapse;
  color: white;


}
.td1{
  width: 25%;
}
.td2{
  width: 75%;
}
.flex-container{
  display: flex;
  flex-wrap: wrap;
 
}
.flex-item{
  padding:20px
}
.flex-item1 {
  padding: 26px;
}
.flex-item2 {
  padding: 20px;
}
.navbar{
 
  font-size: 18px;
}
.nav-item a{
  color: white;
  font-size: 18px;
}
.nav-item a:hover{
  color: darkred;}
 .nav-item .dropdown a:hover{
   color: darkred;
 }

 /*.carousel-item {
   height: 80vh;

  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size:cover;
  background-size: cover;

}*/
.carousel-caption {
 margin-bottom: 100px;

}

.carousel-caption h2{
  font-size: 38px;
  text-transform: uppercase;
  color: white;
}
.carousel-caption h6{
  font-size: 16px;
  font-weight: bolder;
  color: grey;


}
.carousel-caption button{
  width: 30%;
  margin-top:5%;
  font-size: 16px;
  font-family: Open-Sans;
  line-height: 2.5;
  background-color: white;

}
.carousel-caption .bn1{
  border: none;
  background-color: darkred;
   display: inline-block;
   word-spacing: 2px;
   font-size: 18px;
   font-weight: bold;
 }
 .carousel-caption .bn2{
  border: none;
  background-color: white;
   display: inline-block;
   word-spacing: 2px;
   font-size: 18px;
   font-weight: bold;
 }

.carousel-caption button:hover{
 color: white;
 background-color: darkred;
}

.popular-courses table {
  border: 1px solid white;
  border-collapse: collapse;
  width: 70%;
  height: 30px;
  background-color: darkred;
}

.system{
   display: inline-table;
}
.courses h2{
  font-size: 28px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  margin-left: 5%;
  margin-top: 8%;
}
#effect{
  overflow: hidden;
}
#effect img{
  transition: all .5s linear;
}
#effect img:hover{
  transform: scale(1.3);
 
}

#effect h5{
 align-items: center;
}
.subjects{
  margin-top: 6%;
 background-size: cover;
 
}
.background{
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  
  }
  .background::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
background: rgba(0, 0,0,0.8);

  }
  .background .subjects{
    position: relative;
    z-index: 2;
    margin-bottom: 10%;
  }
  .subjects h2 {
    font-size: 43px;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    text-align: center;
    padding-top: 2%;
    color: white;
}
.subjects h2::after {
  content: '';
  background: white;
  display: block;
  height: 3px;
  width: 310px;
  margin: 10px auto;
}

.subjects .classSub {
  margin-top: 6%;
  justify-content: center;
}
.subjects .classSub .do{
  width: 10rem;
  height: 11rem;
  background-color: whitesmoke;
}
.subjects .classSub .do img {
  transition: 1s;
}
.subjects .classSub  .do img:hover{
  transform: scale(1.2);
}
.subjects .classSub .do i{
  justify-content: center;
}

.subjects .classSub .one{
  margin-bottom:8%
}
.subjects a{
  color: black;
  text-decoration: none;
}
.subjects a:hover{
  color: white;
}
.subjects .card{
  background-color : rgba(255,255,255,.1);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.subjects .card:hover {
  background-color : rgba(255,255,255,.1);
  box-shadow: 0 10px 18px 0 rgba(0,0,0,0.8);
  
}

.subjects .card-body i{
  font-size: 50px;
  margin-left: 28%;
  margin-top: 15%;
}
.subjects .card-body h5{
  font-size: 20px;
 text-align: center;
  margin-top: 6%;
}

.classes{
  margin-top: 8%;
 background-size: cover;
}
.classes h2{
  font-size: 43px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  text-align: center;
  margin-top: 8%;
  color: darkred;
}
.classes h2::after {
  content: '';
  background: darkred;
  display: block;
  height: 3px;
  width: 310px;
  margin: 10px auto;
}
.classes hr{
  width: 30%;
  margin-left: 35%;
  font-weight: bold;
  color: gray;
  
}
.classes h5 {
  padding-bottom: 10%;
  padding-top: 27%;
  text-align: center;
  font-size: 27px;
  color: darkgray;
}
.classes .row{
 margin-left: 8%;
}
.classes .classes1 {
  margin-top: 6%;
  /* margin-left: 4%; */
  justify-content: center;
}
.classes .classes1 .do {
  width: 11rem;
  height: 12rem;
  background-color: #5f0202;
}
.classes .classes1 .do:hover {
  box-shadow: 0 10px 18px 0 rgba(0,0,0,0.8);
  background-color: white;
  color: #5f0202;

}
.classes .classes1 .do h5:hover {
    color: #5f0202;
}
.classes .classes1 .do h5:hover {

  color: #5f0202;
}
.classes .classes1 .one{
  margin-bottom:8%
}
.classes a{
  color: black;
  text-decoration: none;
}
.classes a:hover{
  color: #5f0202;
}
.classes .card{
  background-color : rgba(255,255,255,.1);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.classes .card:hover {
  box-shadow: 0 10px 18px 0 rgba(0,0,0,0.8);
}





.features h2{
  font-size: 28px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  margin-left: 5%;
  margin-top: 4%;
}
.features .h2{
  font-size: 43px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  text-align: center;
  margin-top: 8%;
  color: darkred;
}

.features h6{
  font-size: 26px;
  font-family: "Lato", sans-serif;
  margin-left: 5%;
  
}
.features p{
color: grey;
  font-family: "Lato", sans-serif;
  margin-left: 6%;
  
}
#speech{
  margin-top: 4%;
  margin-left: 7%;
}
.features button{
  margin-left: 6%;
}
.featuretext{
 margin-top: 6%;
  margin-bottom:8%;
  margin-left:5%;
}
.featuresimage{
  margin-top: 2%;
  margin-bottom:8%;
}
 .features hr{
  width: 30%;
  margin-left: 38%;
  font-weight: bold;
  color: gray;
  
}

.reviews h2{
  font-size: 43px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  text-align: center;
  margin-top: 8%;
  color: darkred;
}
.reviews h6{
  font-family: "Lato", sans-serif;
  text-align: center;
 color: gray;
 font-weight: bolder;
 font-size: 20px;
}

.reviews{
  margin: 0 20px;
  padding: 0 20px;
}
.reviews .card{
  width: 22rem;
  background-color: whitesmoke;
}
.all{
  display: flex;
  margin-top: 3%;
}
.cl-1{
  height: 200px;
  width: 200px;
  margin: 10px;
  color: gray;
  margin-top: 3%;
}

.cl-1 img{
  clip-path: circle();
  width: 80%;
  margin-top: 10%;
  margin-left: 10%;
}

.reviews h5{
  margin-left: 40%;
  color: darkred;
}
.reviews p{
  padding-bottom: 10%;
}
/*.reviews img{
  clip-path: circle();
}*/

.notice h2{
  font-size: 43px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  text-align: center;
  margin-top: 8%;
  color: darkred;
}
.notice .p1{
  font-family: "Lato", sans-serif;
  text-align: center;
 color: gray;
 font-weight: bolder;
 font-size: 20px;
}
.notice hr{
  width: 40%;
  margin-left: 30%;
  font-weight: bold;
  color: orange;
  
}
#notice {
  margin-top: 3%;
  /* margin-left: 5%; */
  justify-content: center;
}
#notice .card{
  width: 22rem;
}
.notice .card img{
  opacity:1;
  transition: 0.5s ease;
}
#hover-border::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #5f0202;
  position: absolute;
  bottom: 0%;
  left: 50%;
  border-radius: 10px;
  transition: all 500ms ease;

}
#hover-border:hover::after{
  left: 0%;
  width: 100%;
}




#footer {
  background-color: #7b3131;
  color: #5f687b;
  font-size: 14px;
  position: relative;
  font-family:"Poppins", sans-serif;
  margin-top: 8%;
}

#footer .footer-top {
  position: relative;
  z-index: 2;
  text-align: center;

  color: #fff;
  padding-bottom: 30px;
  padding-top: 70px;
}

#footer .footer-top h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  border-bottom: 1px solid #d77b24;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding-top: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
}

#footer .footer-top p {
  font-size: 15;
  margin: 15px 0 0 0;
  padding: 0;
}

#footer .footer-top .footer-newsletter {
  text-align: left;
  font-size: 15px;
  margin-top: 30px;
}

#footer .footer-top .footer-newsletter form {
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  text-align: left;
  border: 1px solid #e4e6ea;
}



#footer .footer-top .footer-contact h4{
  font-weight: bold;
  font-size: 30px;
}

#footer .footer-top .footer-contact ul{
  list-style: none;
  margin-top: 20px;
  padding: 0;
}



#footer .footer-top .social-links a {
    text-decoration: none;
    margin-top: 5%;
    font-size: 20px;
    display: inline-block;
    background: #eaecef;
    color: #5f687b;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #d77b24;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 992px) {
  #footer .copyright, #footer .credits {
    float: none;
    -moz-text-align-last: center;
    text-align-last: center;
  }
}


.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.mainsubjects .card{
  background-color : rgba(255,255,255,.1);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.mainsubjects .card:hover{
  background-color : darkred;
}
.mainsubjects .row{
  margin-left: 8%;
 }
 .mainsubjects .classSub{
   margin-top: 5%;
  
 }
 .mainsubjects .classSub .do{
   width: 10rem;
   height: 11rem;
 }
 
 .mainsubjects .classSub .do i{
   justify-content: center;
 }
 
 .mainsubjects .classSub .one{
   margin-bottom:8%
 }
 .mainsubjects a{
   color: black;
   text-decoration: none;
 }
.mainsubjects h2{
  margin-top: 5%;
  margin-left: 9%;
  color: darkred;
}
 
 .mainsubjects .card-body i{
   font-size: 50px;
   margin-left: 28%;
   margin-top: 15%;
 }
 .mainsubjects .card-body h5{
   font-size: 20px;
  text-align: center;
   margin-top: 6%;
 }
 .mainsubjects a:hover{
 color: white;
}

.form-select{
  margin-top: 30%;
  margin-left: 52%;

}

.coverimg {
  height: 85vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.details{
 
  margin-left: 10%;
 

}


.details h5{
 color: gray;
  margin-left: 5%;
}

.details h2{
  margin-top: 40%;
  color: darkred;
  margin-left: 2%;
}
.details hr{
  width: 45%;
  color: grey;
}
.topich5{
  margin-top: 4%;
}
.one h3 {

  margin-top:5%;
  margin-left: 6%;
  font-family: "Lato", sans-serif;
  /* text-align: center; */
  color: darkred;
  font-weight: bolder;
}
.one h4 {

  margin-left: 6%;
  font-family: "Lato", sans-serif;
  /* text-align: center; */
  color: darkred;
  font-weight: bolder;
}
.one hr{
  width: 25%;
  height: 8%;
  margin-left: 37%;
  font-weight: bold;
  color: darkred;
  
}

.all2{
  display: flex;
  
  margin-left: 4%;
}
.cl-2 {
  padding: 12px;
  /* height: 200px; */
  width: 200px;
  margin: 10px;
  color: whitesmoke;
}

.priv i{
  color: whitesmoke;
  width: 40px;
  height: 40px;
  background: darkred;
  border-radius: 50%;
  position: absolute;
 bottom: -50px;
  left: 85%;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  cursor: pointer;
}

.next i{
  color: whitesmoke;
  width: 40px;
  height: 40px;
  background: darkred;
  border-radius: 50%;
  position: absolute;
  bottom: -50px;
  left: 92%;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  cursor: pointer;
}

.do a{
  text-decoration: none;
  color: black;
}








.sidenav {
  height: 110%;
  background-color:rgb(184, 81, 81);
  overflow-x: hidden;
  padding-top: 20px;
}


.main {
  padding-left: 10%;

}
.main1 {
  padding-left: 10%;

}

.main2 {
  padding-left: 10%;

}

.profiletext img{
  clip-path: circle();
  width: 60%;
margin-left: 20%;
}

.profiletext h5{
  margin-top: 2%;
  font-size: 15px;
  text-align: center;
}

.profiletext ul{
  margin-top: 10%;
 
}
.profiletext ul li a{
  text-decoration: none;
  font-size: 20px;
}
.profiletext ul li{
  color:darkred ;
}


  .sidenav{
      width: 40%;
      position: absolute;
     
      top: 0;
      left: 0;
  }
  
  .sidenav1{
    width: 40%;
    position: absolute;
   
    top: 0;
    left: 0;
   /* background: url('img/profile.webp');*/
   background-color: crimson;
   background-size: 100% 100%;
  height: 120%;
   background-position:center;
   background-repeat: no-repeat;
   
}

  .login-form{
      margin-top: 40%;
  }

  .signform{
    margin-top: 20%;
  }

  .register-form{
      margin-top: 20%;
  }



.login-main-text{
  margin-top: 20%;
  padding: 60px;
  color: #fff;
}

.login-main-text h2{
  font-weight: 300;
}

/* responsive start here*/

@media screen and (max-width: 1200px){
  #notice .card {
    width: 20rem;
}
  .flex-item {
    padding: 15px;
}
 
 .featuretext {
    margin-top: 0%; 
    margin-bottom: 8%;
    margin-left: 0;
}
.subjects .classSub {
  margin-top: 6%;
}
.classes .classes1 {
  margin-top: 6%;
 margin-left: 0%;
}
.subjects .row {
  margin-left: 11%;
}

.mainsubjects .row {
  margin-left: 4%;
}
.mainsubjects .classSub {
  margin-top: 5%;
  margin-left: 6%;
}
}
@media screen and (max-width: 1170px){
  #notice .card {
    width: 20rem;
}
}


@media screen and (max-width: 1070px){
  #notice .card {
    width: 18rem;
}
}
@media screen and (max-width: 1000px){
  .carousel-caption .bn1 {
    word-spacing: 2px;
    font-size: 15px;
    
}
.carousel-caption .bn2 {
  word-spacing: 2px;
  font-size: 15px;
  
}
.features .h2 {
  font-size: 38px;
  font-weight: 700;
 
}
.subjects h2 {
  font-size: 38px;
  font-weight: 700;
 
}
.classes h2 {
  font-size: 38px;
  font-weight: 700;
 
}
.reviews h2 {
  font-size: 38px;
  font-weight: 700;
 
}
.notice h2 {
  font-size: 38px;
  font-weight: 700;
  
}
  .carousel-caption h2 {
    font-size: 28px;
    text-transform: uppercase;
    color: white;
}
.classes .classes1 .do {
  width: 9rem;
  height: 11rem;
  background-color: #5f0202;
}
.featuresimage img {
  vertical-align: middle;
  width: 350px;
}
.fa-instagram{
  margin-top: 8%;
}
}

@media screen and (max-width: 1080px){
  .classes .classes1 .do {
    width: 10rem;
    height: 11rem;
    background-color: #5f0202;
}
  .subjects .classSub .do {
    width: 9rem;
    height: 11rem;
    background-color: whitesmoke;
}
#notice .card {
    width: 17rem;

}
.flex-item1 {
  padding: 10px;
}

}
@media screen and (max-width: 900px){
  .subjects .classSub .do {
    width: 8rem;
    height: 11rem;
    background-color: whitesmoke;
}
.classes .classes1 .do {
  width: 9rem;
  height: 11rem;
  background-color: #5f0202;
}

  .flex-item {
    padding: 10px;
}
  #notice .card {
    width: 16rem;
}
.mainsubjects .classSub {
  margin-top: 6%;
  margin-left: 8%;
}
.mainsubjects .row {
  margin-left: 0;
}
#speech img {
  width: 430px;
}
.features h6 {
  font-size: 22px;
  font-family: "Lato", sans-serif;
  margin-left: 5%;
}
}

@media screen and (max-width: 1100px){
  .flex-item {
    padding: 10px;
}
 
}

@media screen and (max-width:1140px ){
  .flex-item1 {
    padding: 20px;
}

}
@media screen and (max-width:983px ){
  .subjects .classSub {
    margin-top: 6%;
    justify-content:start;
    margin-left: 8%;
}
.classes .classes1 {
  margin-top: 6%;
  margin-left: 9%;
  justify-content:start;
}
}
@media screen and (max-width:816px ){
  .carousel-caption .bn2 {
    word-spacing: 2px;
    font-size: 13px;
}
.carousel-caption .bn1 {
  word-spacing: 2px;
  font-size: 13px;
}
.carousel-caption h6 {
  font-size: 14px;
  font-weight: bolder;
}
.features .h2 {
  font-size: 34px;
  font-weight: 700;
}
.features .h2::after {

  height: 3px;
  width: 345px;
  margin: 10px auto;
}
.features h2 {
  font-size: 34px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  margin-left: 0%;
  
}
.features h6 {
  font-size: 23px;
  font-family: "Lato", sans-serif;
  margin-left: 0%;
}
.features p {
  color: grey;
  font-family: "Lato", sans-serif;
  margin-left: 0%;
}
.features button {
  margin-left: 0%;
}
.subjects h2 {
  font-size: 34px;
  font-weight: 700;
}
.subjects h2::after {

  height: 3px;
  width: 270px;
  margin: 10px auto;
}
.classes h2 {
  font-size: 34px;
  font-weight: 700;
}
.classes h2::after {
 
  height: 3px;
  width: 260px;
  margin: 10px auto;
}
.reviews h2 {
  font-size: 34px;
  font-weight: 700;
}
.reviews h6 {
 
  font-size: 17px;
}
.notice h2 {
  font-size: 34px;
  font-weight: 700;
}
.notice .p1 {

  font-size: 17px;
}

}
@media screen and (max-width: 640px){
  .td1 {
    width: 35%;
}
  .carousel-caption h2 {
    font-size: 20px;
    text-transform: uppercase;
    color: white;
}
.carousel-caption h6 {
  font-size: 12px;
  font-weight: bolder;
}
.carousel-caption .bn2 {
  word-spacing: 1px;
  font-size: 12px;
}
.carousel-caption .bn1 {
  word-spacing: 1px;
  font-size: 12px;
}

}
@media screen and (max-width:600px ){
  .flex-item2 {
    padding: 16px;
}
  .flex-item1 {
    padding: 6px;
}
.carousel-caption .bn2 {
  font-weight: bold;
  word-spacing: 1px;
  font-size: 9px;
}
.carousel-caption .bn1 {
  font-weight: bold;
  word-spacing: 1px;
  font-size: 9px;
}
.carousel-caption h2 {
  font-size: 18px;
  text-transform: uppercase;
  color: white;
}

.features .h2 {
  font-size: 28px;
 
  font-weight: 700;
}
.features .h2::after {
  height: 3px;
  width: 280px;
  margin: 10px auto;
}
.features h2 {
  font-size: 28px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  margin-left: 0%;
  margin-top: 0%;
}
.subjects h2 {
  font-size: 28px;
  font-weight: 700;
}
.subjects h2::after {
  height: 3px;
  width: 215px;
  margin: 10px auto;
}
.classes h2 {
  font-size: 28px;
  font-weight: 700;
}
.classes h2::after {
  height: 3px;
  width: 200px;
  margin: 10px auto;
}

.reviews h2 {
  font-size: 28px;
  font-weight: 700;
}
.reviews h6 {
  font-size: 14px;
}
.notice h2 {
  font-size: 28px;
  font-weight: 700;
}
.notice .p1 {
  font-size: 14px;
}
}
@media screen and (max-width:330px ){
  .classes .classes1 {
    margin-top: 6%;
    margin-left: 2%;
}
}
@media screen and (max-width:575px ){
  .FreeVideo video {
    width: 110%;
    padding: 5%;
    margin-top: 16%;
    margin-left: 0%;
}
}



@media screen and (max-width: 850px){
#notice .card h5{
  font-size: 19px;
}
#notice .card p{
  font-size: 13px;
}

#notice .card {
  width: 14rem;
}

}
@media screen and (max-width: 830px){
.subjects .row {
  margin-left: 0%;
}
.subjects .classSub .do {
  width: 9rem;
}
.classes .classes1 .do {
  width: 8rem;
}
}
@media screen and (max-width: 800px){
.mainsubjects .classSub {
    margin-top: 6%;
    margin-left: 12%;
}

.featuresimage img {
  vertical-align: middle;
  width: 315px;
  margin-top: 11%;
}
}
@media screen and (max-width: 767px){
  .classes .classes1 {
    margin-top: 6%;
    margin-left: 6%;
    justify-content: start;
}
#notice {
  margin-top: 3%;
  margin-left: 7%;
  justify-content: start;
}
#notice .card {
  width: 18rem;
}

  .main .col-md-6{
    margin-left: 41%;
  }
  .main1 .col-md-6{
    margin-left: 41%;
  }
  .main2 .col-md-6{
    margin-left: 41%;
  }

}

@media screen and (max-width: 750px){
  #notice .card {
    width: 16rem;
}

#notice {
  margin-top: 3%;
  margin-left: 10%;
  justify-content: start;
}

.subjects .classSub .do {
  width: 8rem;
}
.subjects .card-body i {
  font-size: 40px;
  margin-left: 28%;
  margin-top: 15%;
}
.subjects .card-body h5 {
  font-size: 18px;
  text-align: center;
  margin-top: 6%;
}
.subjects .row {
  margin-left: 4%;
}

.featuresimage img {
  vertical-align: middle;
  width: 285px;
  margin-top: 2%;
}

.features h2 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  margin-left: 0%;
 
}
.features h6 {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  margin-left: 0%;
}
.subjects .classSub .do {
  width: 8rem;
  height: 9rem;
}
.classes .classes1 .do {
  width: 8rem;
  height: 10rem;
}
}
@media screen and (max-width: 700px){ 
  .classes .classes1 .do {
    width: 9rem;
    height: 10rem;
  }
  #notice {
    margin-top: 3%;
    margin-left: 8%;
    justify-content: start;
}
  .subjects .row {
    margin-left: 0%;
}
  .mainsubjects .row {
    margin-left: -28px;
}
.coverimg img {
  height: 377px;
  margin-top: 15%;
}
 .signform{
  margin-top: 18%;
}
.slick-dotted.slick-slider {
  margin-bottom: 30px;
  margin-left: 0%;
}
.classes .row {
  margin-left: 0%;
}
.classes .classes1 {
  margin-top: 6%;
  margin-left: 8%;
}
}
@media screen and (max-width: 600px){
 
  .classes .classes1 .do {
    width: 8rem;
    height: 9rem;
  }
.mainsubjects .classSub .do {
  width: 9rem;
}
.priv i {
 
  left: 78%;
}
.next i {
  
  left: 90%;
}

#notice .card {
  width: 15rem;
}

#speech img {
  width: 360px;
}


.reviews p{
  font-size: 13px;
}

.reviews h5 {
  text-align: center;
  margin-left: 0%;
  color: darkred;
}

}

@media screen and (max-width: 650px){
  .subjects .classSub {
    margin-top: 6%;
    justify-content: start;
    margin-left: 13%;
  }

#notice {
    margin-top: 3%;
    margin-left: 4%;
    justify-content: start;
}


.classes .classes1 {
  margin-top: 6%;
  margin-left: 11%;
}

.flex-item1 {
  padding: 12px;
}


}
@media screen and (max-width: 500px){
  .features .h2 {
    font-size: 28px;
   
    font-weight: 700;
}

#speech img {
  width: 296px;
}
 

.mainsubjects .card-body i {
  font-size: 36px;
  margin-left: 30%;
  margin-top: 15%;
}
.login-main-text {
 
  margin-left: -17%;
 
}
.profiletext ul li a {
  text-decoration: none;
  font-size: 18px;
}
#notice{
  margin-left: 2%;
}
.subjects .classSub .do {
  width: 7rem;
  height: 9rem;
}
.classes .classes1 .do {
  width: 7rem;
  height: 9rem;
}
.classes h5 {
  padding-bottom: 10%;
  padding-top: 27%;
  text-align: center;
  font-size: 23px;
  color: darkgray;
}
.flex-item2 {
  padding: 7px;
}

}
@media screen and (max-width: 550px){
  .one h3 {
    margin-top: 8%;
   
}
  .one {
    border: 1.9px solid #adb5bd;
    margin-left: 4%;
    margin-top: 6%;
    padding-bottom: 13%;
    border-radius: 20px;
}
  .carousel-caption h6 {
    font-size: 10px;
    font-weight: bolder;
}
.carousel-caption h2 {
  font-size: 16px;
  text-transform: uppercase;
  color: white;
}
#notice .card {
  width: 14rem;
}

.subjects .classSub {
  margin-top: 6%;
  justify-content: start;
  margin-left: 10%;
}
.classes .classes1 {
  margin-top: 6%;
  margin-left: 8%;
}
#footer .footer-top .footer-newsletter {
  text-align: left;
  font-size: 15px;
  margin-top: 30px;
  margin-left: 2%;
}
.td1 {
  width: 42%;
}
}

@media screen and (max-width: 477px){
  .carousel-caption .bn2 {
    font-weight: bold;
    word-spacing: 1px;
    font-size: 7px;
}
.carousel-caption .bn1 {
  font-weight: bold;
  word-spacing: 1px;
  font-size: 7px;
}
.carousel-caption h2 {
  font-size: 12px;
  text-transform: uppercase;
  color: white;
}
.carousel-caption h6 {
  font-size: 8px;
  font-weight: bolder;
}

.features h2 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  margin-left: 0%;
 
}

#notice .card {
  width: 18rem;
}
#notice{
 justify-content: center;
 margin-left: 0%;
}
.reviews h2 {
  font-size: 26px;
  
}
.reviews h6 {
  
  font-weight: bolder;
  font-size: 14px;
}


}

@media screen and (max-width: 450px){
  #footer .footer-top .footer-contact h4 {
    font-weight: bold;
    font-size: 23px;
}

.mainsubjects .classSub .do {
    width: 7rem;
}
.mainsubjects .card-body i {
  font-size: 26px;
  margin-left: 30%;
  margin-top: 15%;
}
.mainsubjects .classSub {
  margin-top: 6%;
  margin-left: 5%;
}
.mainsubjects .row {
  margin-left: -2px;
}

#notice .card {
  width: 18rem;
}

.notice h2 {
  font-size: 27px;
  
}
.notice .p1 {
  
  font-size: 12px;
}
.subjects .classSub {
  margin-top: 6%;
  justify-content: start;
  margin-left: 6%;
}
.classes .classes1 {
  margin-top: 6%;
  margin-left: 5%;
}


}
@media screen and (max-width: 400px){
  .FreeVideo video {
    width: 122%;
    padding: 7%;
    margin-top: 16%;
    margin-left: 0%;
}
  
.coverimg {
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

  .mainsubjects .classSub .do {
    width: 6rem;
    height: 7rem;
}
.mainsubjects h2 {
  margin-top: 15%;
  margin-left: 9%;
  color: darkred;
}

.features .h2 {
  font-size: 28px;
 
  font-weight: 700;
}
  .details h5 {
    color: gray;
    margin-left: 5%;
    font-size: 16px;
}
  .coverimg img {
    height: 313px;
    width: 113%;
    margin-top: 30%;
}
.details h2 {
  margin-top: 60%;
  color: darkred;
  margin-left: 2%;
  font-size: 20px;
}
.subjects .classSub {
  margin-top: 6%;
  justify-content: center;
  margin-left: 0%;
}
.flex-item {
  padding: 5px;
}
.flex-item1 {
  padding: 5px;
}
.classes .classes1 {
  margin-top: 6%;
  margin-left: 4%;
}
  .mainsubjects .classSub .do {
    width: 5rem;
}
.mainsubjects .card-body h5 {
  font-size: 13px;
}

.login-main-text h2 {
  font-weight: 200;
  font-size: 18px;
}
.login-main-text {
 
  margin-left: -22%;

}
.main {
  padding-left: 10%;
  margin-top: 29%;
}

.login-main-text {
  margin-top: 45%;
  padding: 60px;
  color: #fff;
}
.main1 {
  padding-left: 10%;
  margin-top: 15%;
}
.main2 {
  padding-left: 10%;
  margin-top: 15%;
}
.priv i {
  left: 71%;
  width: 35px;
  height: 35px;
  line-height: 35px;
}
.next i {
  left: 87%;
  width: 35px;
  height: 35px;
  line-height: 35px;
}
.one {
  margin-top: 15%;
}
.one h2 {
  font-size: 24px;
 
}
.one h4{
  font-size: 20px;
 
}
.profiletext ul li a {
  text-decoration: none;
  font-size: 14px;
}
.profiletext img {
  clip-path: circle();
  width: 87%;
  margin-left: 7%;
}

}
@media screen and (max-width: 366px){
  #speech img {
    width: 255px;
}
  .subjects .card-body h5 {
    font-size: 15px;
    text-align: center;
    margin-top: 6%;
}
.flex-item {
  padding: 3px;
}
.subjects .classSub .do {
  width: 6rem;
  height: 8rem;
}
.classes .classes1 {
  margin-top: 6%;
  margin-left: 2%;
}
.subjects .card-body h5 {
  font-size: 12px;
  text-align: center;
  margin-top: 6%;
  font-weight: 700;
}
.flex-item.featuretext.col-md-5 {
  padding-bottom: 10%;
}
.background .subjects {
  position: relative;
  z-index: 2;
  margin-bottom: 20%;
}
.subjects {
  margin-top: 14%;
  background-size: cover;
}
.classes .classes1 .do {
  width: 6rem;
  height: 8rem;
}
}
@media screen and (max-width: 380px){
 
.classes .classes1 .do {
  width: 6rem;
}

.classes .classes1 {
    margin-top: 6%;
    margin-left: 8%;
}
#notice .card {
  width: 16rem;
}
.features .h2 {
  font-size: 28px;
  font-weight: 700;
  margin-top: 13%;
}

}
@media screen and (max-width: 360px){
  .classes .classes1 {
    margin-top: 6%;
    margin-left: 2%;
}
}
@media screen and (max-width: 350px){
  .reviews h2 {
    font-size: 26px;
    margin-top: 18%;
}
  .classes .classes1 {
    margin-top: 6%;
    margin-left: 5%;
}
.subjects .card-body h5 {
  font-size: 10px;
  text-align: center;
  margin-top: 6%;
}
.subjects .card-body i {
  font-size: 28px;
  margin-left: 28%;
  margin-top: 15%;
}

#notice .card {
  width: 14rem;
}
.notice h2 {
  font-size: 27px;
  margin-top: 16%;
}
.classes h2 {
  font-size: 28px;
  font-weight: 700;
  margin-top: 17%;
}
}
@media screen and (max-width: 340px){
  .reviews h6 {
    font-weight: bolder;
  }
  .notice .p1 {
    font-size: 11px;
}
  
  .features h2 {
    font-size: 20px;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    margin-left: 0%;
}
.features h6 {
  font-size: 15px;
  font-family: "Lato", sans-serif;
  margin-left: 0%;
}
.features p {
  color: grey;
  font-family: "Lato", sans-serif;
  margin-left: 0%;
  font-size: 12px;
}
.subjects .classSub .do {
  width: 5rem;
  height: 6rem;
}
.subjects h2 {
  font-size: 24px;
  font-weight: 700;
}
.subjects h2::after {
  height: 3px;
  width: 175px;
  margin: 10px auto;
}
.classes h2 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 17%;
}
.reviews h2 {
  font-size: 24px;
  margin-top: 18%;
}
.notice h2 {
  font-size: 24px;
  margin-top: 16%;
}
.classes h5 {
  padding-bottom: 10%;
  padding-top: 27%;
  text-align: center;
  font-size: 16px;
  color: darkgray;
}
.classes .classes1 .do {
  width: 5rem;
  height: 6rem;
}
.classes .classes1 {
  margin-top: 6%;
  margin-left: 10%;
}
.features .h2 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 13%;
}
.features .h2::after {
  height: 3px;
  width: 235px;
  margin: 10px auto;
}
}
@media screen and (max-width: 322px){
  .login-main-text h2 {
    font-weight: 200;
    font-size: 16px;
}

.classes .classes1 {
  margin-top: 6%;
  margin-left: 6%;
}


.login-main-text p{
  font-size: 12px;
}
.main .btn-success {
  color: #fff;
  background-color: #198754;
  border-color: #198754;
  margin-top: 10%;
}

.login-main-text {
  margin-left: -32%;
}

}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}

  
}

@media screen and (max-width: 450px) {
  .login-form{
      margin-top: 10%;
  }

  .register-form{
      margin-top: 10%;
  }
}

@media screen and (min-width: 768px){
  .main{
      margin-left: 40%; 
  }
  .main1{
    margin-left: 40%; 
}
.main2{
  margin-left: 40%; 
}
}